// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(44,98%,50%),
    200: hsl(44, 98%, 40%),
    300: hsl(238, 51%, 22%),
    400: hsl(116, 98%, 35%),
    500: hsl(321, 97%, 30%),
  ),
  secondary: (
    100: hsl(238, 51%, 22%),
    200: hsl(65, 80%, 63%),
    300: hsl(11, 72%, 57%),
    400: hsl(238, 52%, 45%),
    500: hsl(173, 90%, 30%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
