---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Making Tippecanoe Stronger:</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:hand-heart" title="Improve our public safety.">
          <br></br>
          The future of our county depends on our children. Unfortunately, delinquent children are regularly sent out of state, separating families and taking our deputies off the road instead of being here to keep us safe and respond to emergencies.
          <br></br>
          <h5><b><a href="/public-safety/">Here's how we can fix it:</a></b></h5> 
        </Feature>
        <Feature icon="mdi:water-well" title="Protect our water resources.">
          <br></br>
          The LEAP District project, spearheaded by the accountability-free IEDC, risks stealing 100 Millions Gallons of water per Day from our County, threatening our livelihood, our money, and our health, with no benefits in return. 
          <br></br>
          <h5><b><a href="/water/">Here's how we can fix it:</a></b></h5>
        </Feature>
        <Feature icon="mdi:piggy-bank" title="Create a strategic budget.">
          <br></br>
          Thanks to our vibrant and growing economy, Tippecanoe County has generated substantial tax revenue, enough for both a large Rainy Day Fund and Millions in additional uncommitted dollars. However, we currently lack long-term strategic budget planning, leaving us vulnerable to shocks.
          <br></br>
          <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5>
        </Feature>
        
        <h2 class="mb-16 text-6xl">Ready to help?</h2>
        <Feature icon="mdi:battery-charging" title="Support our campaign." >
          <br></br>
          <h5><a href="https://indianavoters.in.gov"> Click here to help. </a></h5>
        </Feature>
        <Feature icon="mdi:vote" title="Make sure you're registered to vote.">
          <br></br>
          <h5><a href="https://indianavoters.in.gov">Click here to check. </a></h5>
        </Feature>
        
        
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
