---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
    <div class="container">
      <h2 class="mb-16 text-6xl">Making Tippecanoe Stronger:</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:hand-heart" title="Strengthen Public Safety.">
          <br></br>
          We face two big challenges to public safety: First, our county underfunds key positions, leading to good workers leaving. Second, we presently lack of a Juvenille detention center, which takes deputies away from their job and children away from their families. We can fix this by offering competitive pay for workers in our jail and community corrections, adequately funding mental health services, and collaborating more closely with community stakeholders and charitable organizations.
          <br></br>
          <!-- <h5><b><a href="/es/">Here's how we can fix it:</a></b></h5>  -->
        </Feature>
        <Feature icon="mdi:water-well" title="Protect our water and environment.">
          <br></br>
          The LEAP District project promises great economic reward, but also needs 10-100 Millions Gallons of water per Day from our County. We need to ensure that economic growth is intelligently balanced with conservation that maintains our livelihood, money, and health. More broadly, we need to make use of our county funds to reward renewable energy efforts that are increasingly cost-competitive with fossil fuel alternatives.
          <br></br>
          <!-- <h5><b><a href="/water/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
        <Feature icon="mdi:home-group" title="Incentivize affordable housing.">
          <br></br>
          While the housing crisis is complex, there are practical steps the county can take—such as using existing county council funds (without raising taxes) to contractually support development plans for workforce and low-income senior housing. By using funds to incentivize workforce housing and increased development, we can improve our local housing situation for individuals and families alike. 
          <br></br>
          <!-- <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
      </div>
      <h2 class="mb-16 text-6xl"></h2>

      <h2 class="mb-16 text-6xl">Good Policies Require Good Planning:</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:cog-outline" title="Manage growth responsibly.">
          <br></br>
           Growth is a positive sign that we're doing something right—but it doesn’t guarantee we’ll grow correctly. As our population expands and our economy globalizes, it’s imperative that we balance economic development with local needs.
          <br></br>
          <!-- <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
        <Feature icon="mdi:piggy-bank" title="Create a strategic budget.">
          <br></br>
          Thanks to our vibrant and growing economy, Tippecanoe County has generated substantial tax revenue. To capitalize on this, we need to create long-term strategic budget planning. By planning for the future, we ensure that our county grows how we want it to.
          <br></br>
          <!-- <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
        <Feature icon="mdi:account-switch" title="Work with the community.">
          <br></br>
          Good policymaking doesn't come from one brain, it comes from a wide variety of perspective, expertise, and input. America needs leaders with more humility and a willingness to learn, two traits I strive to represent at all times.
          <br></br>
          <!-- <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
      </div>
      <h2 class="mb-16 text-6xl"></h2>

      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:battery-charging" title="Support our campaign." >
          <br></br>
          <h5><a href="https://secure.actblue.com/donate/bencarson" target="_blank"> Click here to help. </a></h5>
        </Feature>
        <Feature icon="mdi:vote" title="Make sure you're registered to vote." >
          <br></br>
          <h5><a href="https://indianavoters.in.gov" target ="_blank">Click here to check. </a></h5>
        </Feature>
        <h2 class="mb-16 text-6xl">Ready to help?</h2>
      </div>
      <br></br>
    </div>
  <ContentMedia imgSrc="sheila.jpg">
    <h1 id ="test2">Hoosier, born and raised.</h1>
    
    <p class="text-2xl">
      As a graduate from West Lafayette High School and Purdue University, I have longstanding ties and an unwavering investment in the future of our county for decades to come.  <b>Tippecanoe needs to build a new generation of leaders that are prepared to keep our county strong,</b> while maintaining our timeless values that makes our county so welcoming. 
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="board_of_works_2.webp" reverseImg={true}>
    <h1>Listener, thinker, and advocate.</h1>
    <p class="text-2xl">
      Experience matters, but a fresh perspective and a willingness to learn matters too. Party Politics is better left for CNN and Fox News; in Tippecanoe County, we know how to come together and find common ground on issues that everyone cares about. That's why I'm proud to serve on the <b>West Lafayette Board of Public Works and Safety</b>, why I'm proud to have friends and supporters that are <b>Democrats and Republicans</b>, and why I'm proud to volunteer and advocate on behalf of local organizations and issues, such as working to protect our water resources and our well-being.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="yardsigns.png">
    <h1 id ="test2">Equipped to find reasonable solutions to our common-sense problems.</h1>
    <p class="text-2xl">
     I've spent many years working in a wide variety of industries, including Teaching, Engineering, Communications, Management, and most recently creating my own business in Education Technology. I believe that I possess a strong skill-set of interdisciplinary knowledge that I can use to find the best ways to tackle challenges our community faces. <b>We need to use our County Budget in smart, strategic, and accountable ways that helps us prosper.</b>
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="text-center mb-16 text-4xl">Vote for the Tippecanoe Way. Vote for Ben Carson. <br></br></h2>
      <h3 class="text-center mb-16 text-4xl">General Election: Tuesday, November 5th.<br></br></h3>
    </div>
  </section>
</DefaultLayout>

