---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Paid for and authorized by Ben Carson for Indiana. <a
          href="mailto:ben@votecarson.com">Contact me: ben@votecarson.com</a
        >
      </p>
    </div>
  </section>
</footer>
