---
import CallToActionES from './CallToActionES.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToActionES />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Pagado y autorizado por Ben Carson para Indiana. <a
          href="mailto:ben@votecarson.com">Contáctame: ben@votecarson.com</a
        >
      </p>
    </div>
  </section>
</footer>
